{% extends 'itinerary/main.html' %}
{% block content %}

    <h1>Your Itinerary</h1>
    <h2>{{Weather}}</h2>
    <ul>
        {% for item in Itinerary %}
            {% if item.genre == 'FO'%}
                {% if item.time_scene == 'BR' %}
                    <h2> BreakFast </h2>
                {% elif item.time_scene == "LU" %}
                    <h2> Lunch </h2>
                {% elif item.time_scene == "DI" %}
                    <h2> Dinner </h2>
                {% endif %}
            {% elif item.genre == "AC" %}
                <h2> Activity </h2>
            {% endif %}

            <li>
                {{ item.title }}
                <ul>
                    <li>{{ item.description }}</li>
                    <li>{{ item.get_cost_display }}</li>
                </ul>
            </li>
        {% endfor%}
    </ul>
    <button onClick="window.location.reload();">Generate New Itinerary</button>

{% endblock content %}