{% extends 'itinerary/base.html' %}
{% load static %}

{% block content %}
 <!-- Header -->
 <header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="h1-large">Where2</h1>
                    <a class="btn-solid-lg" href=" {% url 'itinerary_current' %} ">Generate an itineary for today</a>
                    <a class="btn-solid-lg" href=" {% url 'itinerary_full' %} ">Generate a full itineary for today</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
    
    <!-- Video Background -->
    <video autoplay loop muted id="video-background" poster="images/header-background.jpg" playsinline>
        <source src=" {% static 'images/header-background-video.mp4' %} " type="video/mp4" />
    </video>
    <!-- end of video background -->

</header> <!-- end of header -->
<!-- end of header -->

    <!-- Introduction -->
    <div id="introduction" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Discover the community</h2>
                    <p class="p-heading">Learn about local events, activities and restaurants through a dynamically created itineary</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-utensils"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Restaurants</h4>
                            <div class="card-text">Experience the local culinary experience with a generated Itineary or view local Restraunts in the Restaurants page</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-running"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Activities</h4>
                            <div class="card-text">Generate an Itineary full of activities, or just view them in the Activities page.</div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-calendar-week"></span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Events</h4>
                            <div class="card-text">Learn about local events in our future Events page</div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of introduction -->

    <!-- Details -->
	<div class="split">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">     
                        
                        <!-- Text Container -->
                        <div class="text-container">
                            <h2>Why feature your buisness on Where2?</h2>
                            <p>Featuring your buisness on Where2 has a large amount of benefits and no downside!</p>
                            <p><strong>FREE -</strong> Featuring your buisness on Where2 is free!</p>
                            <p><strong>EXPOSURE -</strong> By adding your buisness to Where2 you are opening up a new avenue for potential customers to discover your buisness.</p>
                            <p><strong>CONTACT US -</strong> <a href=" https://en.wikipedia.org/wiki/Placeholder ">Click Here</a></p>
                        </div> <!-- end of text-container -->
                        <!-- end of text container -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->


    <!-- Projects -->
	<div id="projects" class="filter bg-gray">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Examples of local Restaurants</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Filter -->
                    <div class="button-group filters-button-group">
                        <button class="button is-checked" data-filter="*">SHOW ALL</button>
                        <button class="button" data-filter=".business">BUSINESS</button>
                        <button class="button" data-filter=".finance">FINANCE</button>
                        <button class="button" data-filter=".software">SOFTWARE</button>
                    </div> <!-- end of button group -->
                    <div class="grid">
                        <div class="element-item finance">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-1.jpg' %} " alt="alternative">
                                <p><strong>Online banking</strong> - delivered to and to major company in pharmace ski jump from</p>
                            </a>
                        </div>
                        <div class="element-item finance">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-2.jpg' %} " alt="alternative">
                                <p><strong>Loans company</strong> - enjoyed minutes related as at on on. Is fanny dried camping today</p>
                            </a>
                        </div>
                        <div class="element-item finance">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-3.jpg' %} " alt="alternative">
                                <p><strong>Refinance firm</strong> - distrusts an it contented perceived attending oh nouns here</p>
                            </a>
                        </div>
                        <div class="element-item business finance">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-4.jpg' %} " alt="alternative">
                                <p><strong>Financial products</strong> - thoroughly estimating introduced stimulated why but front</p>
                            </a>
                        </div>
                        <div class="element-item business finance">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-5.jpg' %} " alt="alternative">
                                <p><strong>Credit cards</strong> - enjoyed minutes related as at on on. Is fanny dried out yesterday</p>
                            </a>
                        </div>
                        <div class="element-item business software">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-6.jpg' %} " alt="alternative">
                                <p><strong>Software robots</strong> - as often me goodness as reserved raptures to mistaken</p>
                            </a>
                        </div>
                        <div class="element-item business software">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-7.jpg' %} " alt="alternative">
                                <p><strong>Company control</strong> - steepest oh screened he gravity he mr sixteen esteems his</p>
                            </a>
                        </div>
                        <div class="element-item business software">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-8.jpg' %} " alt="alternative">
                                <p><strong>Audit reports</strong> - mile home its new way with high told said finished to learn</p>
                            </a>
                        </div>
                        <div class="element-item business software">
                            <a href=" {% static 'article.html' %} ">
                                <img class="img-fluid" src=" {% static 'images/project-9.jpg' %} " alt="alternative">
                                <p><strong>Big business</strong> - no horrible blessing landlord dwelling dissuade if we can hear</p>
                            </a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->


{% endblock %}

    