{% extends 'itinerary/main.html' %}
{% block content %}

    <h1>
        Breakfast
    </h1>
    {% for rest in Breakfast_Resturants %}
        <li>
            {{ rest.title }}
            <ul>
                <li>{{ rest.description }}</li>
                <li>{{ rest.get_cost_display }}</li>
            </ul>
        </li>
    {% endfor%}
    <h1>
        Lunch
    </h1>
    {% for rest in Lunch_Resturants %}
        <li>
            {{ rest.title }}
            <ul>
                <li>{{ rest.description }}</li>
                <li>{{ rest.get_cost_display }}</li>
            </ul>
        </li>
    {% endfor%}
    <h1>
        Dinner
    </h1>
    {% for rest in Dinner_Resturants %}
        <li>
            {{ rest.title }}
            <ul>
                <li>{{ rest.description }}</li>
                <li>{{ rest.get_cost_display }}</li>
            </ul>
        </li>
    {% endfor%}

{% endblock content %}